<template>
  <panel title="Anime">
    <div class="" >
      <v-layout>
        <v-flex xs6>
          <v-card>
           <img class="anime-image" :src="anime.image" />
          </v-card>
        </v-flex>
        <v-flex xs6 style="padding: 5px;">
          <div class="anime-title-h2">{{anime.nome}}</div>
          <div class="anime-title-h3">{{anime.episodios.length}} episódio(s)</div>
          <br />
          <div class="anime-title-h3" style="text-align: justify; padding-left: 5px;">{{anime.descricao}}</div>
        </v-flex>
      </v-layout>
    </div>
  </panel>
</template>

<script>
export default {
  props: [
    'anime'
  ]
}
</script>

<style scoped>
.anime-body {
  padding: 20px;
  overflow: hidden;
}

.anime-title-h2 {
  font-size: 16px;
  font-weight: bold;
}

.anime-title-h3 {
  font-size: 14px;
}

.anime-image {
  width: 100%;
}
</style>
