<template>
  <panel title="Episódios">
    <div class="" >
      <v-layout row wrap>
        <v-flex class="episodio" xs3 v-for="episodio in anime.episodios" :key="episodio.id">
          <router-link 
            class="home"
            tag="a"
            :to="{
              name: 'anime_episodio', 
              params: {
                id: anime.id,
                episodioId: episodio.id
              }
            }">
            <v-card class="episodio-card">
              <v-card-media :src="episodio.image" height="120px">
              </v-card-media>
              <div class="episodio-title-div" v-if="episodio.hasVideo === 1">
                <div class="episodio-title">
                  <div class="episodio-title-text">
                    {{episodio.nome}}
                  </div>
                </div>
              </div>
              <div class="episodio-title2-div red" v-else>
                <div class="episodio-title2">
                  <div class="episodio-title-text">
                    {{episodio.nome}}
                    <br />
                    Sem vídeo
                  </div>
                </div>
              </div>
            </v-card>
          </router-link>
        </v-flex>
        <v-flex xs12 v-if="!anime.episodios || anime.episodios.length === 0">
          <v-alert warning icon="new_releases" :value="true">
            Nenhum episódio encontrado!
          </v-alert>
        </v-flex>
      </v-layout>
    </div>
  </panel>
</template>

<script>
export default {
  props: [
    'anime'
  ]
}
</script>

<style scoped>
.episodio {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  cursor: pointer;
}

.episodio:hover {
  background-color: #f5f5f5;
}

.episodio-body {
  padding: 20px;
  overflow: hidden;
}

.episodio-card {
  width: 200px;
  margin: 0px auto;
}

.episodio-title-div {
  display: block;
  width: 100%;
  height: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.episodio-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  max-height: 20px;
}

.episodio-title2-div {
  display: block;
  width: 100%;
  height: 40px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.episodio-title2 {
  position: absolute;
  width: 100%;
  bottom: 0;
  max-height: 40px;
}

.episodio-title-text {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

.episodio-image {
  width: 90%;
  margin: 0 auto;
}
</style>
