<template>
  <div>
    <panel title="Carregando" v-if="loading">
      <div class="" >
        <v-layout row wrap>
          <v-flex xs12 v-if="loading">
            <v-progress-circular indeterminate class="primary--text"></v-progress-circular>

            <v-progress-circular indeterminate class="red--text"></v-progress-circular>

            <v-progress-circular indeterminate class="purple--text"></v-progress-circular>

            <v-progress-circular indeterminate class="green--text"></v-progress-circular>

            <v-progress-circular indeterminate class="amber--text"></v-progress-circular>
          </v-flex>
        </v-layout>
      </div>
    </panel>
    <v-layout v-if="episodio && !loading">
      <v-flex xs12 class="ml-2">
        <video-anime :link="episodio_link" :nome="episodio.nome" />
      </v-flex>
    </v-layout>
    <br /><br />
    <v-layout v-if="!loading">
      <v-flex xs6 class="ml-2">
        <anime :anime="anime" />
      </v-flex>
      <v-flex xs6 class="ml-2" v-if="anime.hasVideo">
        <video-anime :link="link" nome="Vídeo" />
      </v-flex>
    </v-layout>
    <br /><br />
    <v-layout class="ml-2" v-if="!loading">
      <v-flex xs12>
        <episodios :anime="anime" />
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import Anime from './Anime'
import Episodios from './Episodios'
import VideoAnime from './Video'
import AnimesService from '@/services/AnimesService'

export default {
  data () {
    return {
      anime: {},
      link: '',
      episodio: null,
      episodio_link: null,
      loading: true
    }
  },
  computed: {
    ...mapState([
      'route'
    ])
  },
  methods: {
    init: async function () {
      this.loading = true
      const id = this.route.params.id
      this.anime = (await AnimesService.show(id)).data
      this.link = this.anime.link
      this.update()
      this.loading = false
    },
    update: async function () {
      this.loading = true
      this.episodio = null
      if (this.route.params.episodioId) {
        for (let o of this.anime.episodios) {
          if (o.id + '' === this.route.params.episodioId + '' && o.hasVideo === 1) {
            setTimeout(() => {
              this.episodio = o
              this.episodio_link = o.link
            }, 10)
          }
        }
      }
      this.loading = false
    }
  },
  async mounted () {
    this.init()
  },
  components: {
    VideoAnime,
    Episodios,
    Anime
  },
  watch: {
    '$route.params.episodioId': {
      immediate: true,
      async handler (value) {
        this.update()
      }
    }
  }
}
</script>

<style scoped>
</style>
