<template>
  <panel :title="nome">
    <video id="videoPlayer" class="video-anime" controls style="max-height: 500px;">
      <source :src="link" type="video/mp4">
    </video>
  </panel>
</template>

<script>
export default {
  props: [
    'link',
    'nome'
  ]
}
</script>

<style scoped>
.video-anime {
  width: 100%;
}
</style>
