<template>
  <panel title="Buscar">
    <v-checkbox
      label="Todos os anime?"
      v-model="all"
    ></v-checkbox>
    <v-text-field
      label="Busque seu Anime"
      v-model="search"
    ></v-text-field>
  </panel>
</template>

<script>
import _ from 'lodash'

export default {
  data () {
    return {
      search: '',
      all: false
    }
  },
  watch: {
    search: _.debounce(async function (value) {
      const route = {
        name: 'animes'
      }
      route.query = {
        all: this.all ? 1 : 0,
        search: this.search
      }
      this.$router.push(route)
    }, 700),
    all: _.debounce(async function (value) {
      const route = {
        name: 'animes'
      }
      route.query = {
        all: this.all ? 1 : 0,
        search: this.search
      }
      this.$router.push(route)
    }, 700),
    '$route.query.search': {
      immediate: true,
      handler (value) {
        this.search = value
      }
    },
    '$route.query.all': {
      immediate: true,
      handler (value) {
        this.all = value === 1
      }
    }
  }
}
</script>

<style>

</style>
