<template>
  <panel title="Animes">

    <div class="anime-body" >
      <v-layout row wrap>
        <v-flex class="anime" xs3 v-if="!loading" v-for="anime in animes" :key="anime.id">
          <router-link 
            class="home"
            tag="a"
            :to="{
              name: 'anime', 
              params: {
                id: anime.id
              }
            }">
            <v-card class="anime-card">
              <v-card-media :src="anime.image" height="120px">
              </v-card-media>
              <div class="anime-title-div">
                <div class="anime-title">
                  <div class="anime-title-text">
                    {{anime.nome}}
                  </div>
                </div>
              </div>
            </v-card>
          </router-link>
        </v-flex>
        <v-flex xs12 v-if="!loading && (!animes || animes.length === 0)">
          <v-alert warning icon="new_releases" :value="true">
            Nenhum anime encontrado!
          </v-alert>
        </v-flex>
        <v-flex xs12 v-if="loading">
          <v-progress-circular indeterminate class="primary--text"></v-progress-circular>

          <v-progress-circular indeterminate class="red--text"></v-progress-circular>

          <v-progress-circular indeterminate class="purple--text"></v-progress-circular>

          <v-progress-circular indeterminate class="green--text"></v-progress-circular>

          <v-progress-circular indeterminate class="amber--text"></v-progress-circular>
        </v-flex>
      </v-layout>
    </div>
  </panel>
</template>

<script>
import AnimesService from '@/services/AnimesService'

export default {
  data () {
    return {
      animes: null,
      search: '',
      all: 0,
      loading: true
    }
  },
  watch: {
    '$route.query.search': {
      immediate: true,
      async handler (value) {
        this.loading = true
        this.search = value
        this.animes = (await AnimesService.index(this.search, this.all)).data
        this.loading = false
      }
    },
    '$route.query.all': {
      immediate: true,
      async handler (value) {
        this.loading = true
        this.all = value
        this.animes = (await AnimesService.index(this.search, this.all)).data
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>
.anime {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  cursor: pointer;
}

.anime:hover {
  background-color: #f5f5f5;
}

.anime-body {
  padding: 20px;
  overflow: hidden;
}

.anime-card {
  width: 200px;
  margin: 0px auto;
}

.anime-title-div {
  display: block;
  width: 100%;
  height: 40px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.anime-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  max-height: 40px;
}

.anime-title-text {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

.anime-image {
  width: 90%;
  margin: 0 auto;
}
</style>
