<template>
  <v-layout>
    <v-flex xs6 v-if="isUserLoggedIn">
    </v-flex>

    <v-flex xs12 class="ml-2">
      <animes-search-panel />
      <animes-panel class="mt-2" />
    </v-flex>
  </v-layout>
</template>

<script>
import AnimesPanel from './AnimesPanel'
import AnimesSearchPanel from './AnimesSearchPanel'
import {mapState} from 'vuex'

export default {
  components: {
    AnimesPanel,
    AnimesSearchPanel
  },
  computed: {
    ...mapState([
      'isUserLoggedIn'
    ])
  },
  data () {
    return {
      animes: null
    }
  }
}
</script>

<style scoped>

</style>
