<template>
  <v-toolbar fixed class="green" dark>
    <v-toolbar-title class="mr-4">
      <router-link 
        class="home"
        tag="span"
        :to="{
          name: 'animes'
        }">
        Animes para todos
      </router-link>
    </v-toolbar-title>

    <v-spacer></v-spacer>

  </v-toolbar>
</template>

<script>
export default {
  methods: {}
}
</script>

<style scoped>
.home {
  cursor: pointer;
}

.home:hover {
  color: #E9E;
}
</style>
